# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Flask cache or instance folders
instance/
*.log

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS/system files
.DS_Store
Thumbs.db

# Environment variables
.env
