<html>
    <head>
        <title>Grocery Budget Optimizer</title>

        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Grocery Budget Optimizer</h1>
            <div class="cards">

            </div>
            <div class="buttons">
                <button>Add Item</button>
                <button>Remove Item</button>
            </div>
        </div>
        <div class="statistics">
            <div class="input">

            </div>
            <div class="result">
                
            </div>
        </div>
    </body>
</html>